
.nav{
    width: 100%;

    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(189, 186, 186);
    display: flex;
    align-items: center;

}
.logo-div{
    border-right: 1px solid rgb(189, 186, 186); 
    padding: 15px 50px 15px 5%;
    display: flex;
    align-items: center;
    width: 130px;
}
.chimney{
   
    width: 130px;
}

.list,.list-b
{
    list-style-type: none;
    display: inline-block;
    padding-right: 70px; 
    Opacity: 60%;
}
.list-b{
    Opacity: 100%;
    
}
.alpha{
position: absolute;
right: 0;
padding: 15px 5% 15px 0;
width: 180px;

}

.border{
    border-right: 1px solid rgb(189, 186, 186);
    height:20px;
    margin-left: 15%;
} 







@media screen and (max-width: 900px)
{
  .alpha{
        width: 120px;    
    }
    .chimney{ width: 100px;}
    .logo-div{width: 80px;}
    .list,.list-b
    {
        font-size: small;
        padding-right: 25px;
    } 
    .border{
        border-right: 0px;
    }  
}